@charset "utf-8";

html{scroll-behavior: smooth;}
:root{ /*css변수화 한번에 컬러 변경 */
    --main-color:#1a1f71; 
    --sub-color:#f7b600 
}

#wrap {}
.inner { width: 1140px; margin: 0 auto; position: relative;}

header {height: 100px; background-color:  var(--main-color); 
        border-bottom: 4px solid var(--sub-color);} 

header .inner{position: static;}
header .logo{float: left; margin-top: 22px; margin-left: 250px; }

header nav{float: left;}
.gnb{margin: 28px 0 0 280px;}
.gnb li{float:left; padding: 12px 24px;}
.gnb li a{color: #fff;}
.gnb li:hover .sub_menu{height: 45px;}

header .search{float: right; margin-top: 38px; border-left: 1px solid #ddd;
                padding-right: 380px; width: 50px;
} 


.sub_menu{background-color: var(--sub-color); width: 100%; position: absolute;
           top:96px; left: 0; left: 0; height: 0; overflow: hidden;  transition: .5s;  }
.sub_menu li{display: inline-block; padding: 10px 30px;}





#visual { height: 500px;
        background: url(../images/marquee-visahotdeals-1600x900.jpg) no-repeat center / cover; }
.caption{background-color: rgba(255, 255, 255, 0.7) ; width: 260px ; padding: 30px;
        position: absolute; top: 80px; left: 50px; /*이미지 늘리나 줄일때도 똑같은 비율*/
}
.caption .main_title{font-size: 42px; color:  var(--main-color);}
.caption .sub_title{font-size: 14px; line-height: 1.8; margin-top: 10px;}
.caption .btn{border: 0; border-radius: 5px; width: 100px ; height: 34px;
            background-color:  var(--sub-color); color:  var(--main-color);
            margin-top: 10px; transition: .5s;}
.caption .btn:hover{background-color: var(--main-color) ; color: var(--sub-color);} 


#tab_menu{height: 60px; border-bottom: 2px solid #ccc;
            box-shadow: 1px 1px 10px #ddd; background-color: #fff;
            position: sticky; top: 0; left: 0; width: 100%;z-index: 10;
        }

.tab_list{width: 600px; margin: 0 auto;}
.tab_list li{width: 200px; float: left; text-align: center; margin: 20px 0;
            border-right: 2px solid #ccc; box-sizing: border-box; /* 바설정*/
            
          
}
.tab_list li:first-child{border-left: 2px solid #ccc;}
.tab_list li:hover a{color: var(--sub-color);}

#content {width: 1140px; margin: 0 auto;}
#content section{padding: 100px 0; text-align: center;
                border-bottom: 1px solid #ccc;
}
#content section .con_title{font-size: 36px; color:  var(--main-color); margin-bottom: 40px;}
#content section .con_title .line{position: relative;} /*글씨 크기만큼 공간*/
#content section .con_title .line::after{content: ""; width: 100%; height: 4px;
    background-color: var(--sub-color); position: absolute; left: 0; bottom: 0; 
    transform: scaleX(0);transition: 1s; transform-origin: left;}
#content section:hover .con_title .line::after{transform: scaleX(1);}

#hotdeal {}
.store_list{}
.store_list li{width: 360px; height: 190px; border: 1px solid var(--sub-color)0;
               box-sizing: border-box; float: left; margin: 0 30px 30px 0;
            position: relative; overflow: hidden;}
.store_list li:nth-child(3n){ margin-right: 0;} /*3n->3xn-1,2,3,4 ...*/
.store_list li img{width: 80%;}
.store_list li .hover_box{background-color: rgba(245, 180, 0, 0.7);
                        width: 100%; height: 100%; position: absolute;
                        left: 0; top: 0; transform: translateY(100%);
                        transition: 1s;}

.store_list li:hover .hover_box h3{ font-size: 32px; color:  var(--main-color); margin-top: 40px;}
.store_list li:hover .hover_box button{background-color:  var(--main-color); padding: 10px 20px ;
                                    color: var(--sub-color) ; border: 0; margin-top:20px;}                    
.store_list li:hover .hover_box{transform: translateY(0);}                        



#store {}               



#content #card {border-bottom: none;}
.card_list{}
.card_list li{ width: 370px; margin-right: 15px; float: left;}
.card_list li:last-child{margin-right: 0;}
.card_list li a{display: block; height: 200px; overflow: hidden; position: relative;}
.card_list li a>img{ width: 100%; transition: .5s;}
.card_list li:hover a>img{transform: scale(1.2)}
.card_list li a .arrow{position: absolute;transform: translate(-100px,100px);transition: .5s;
                        left: 0; bottom: 0;}
.card_list li a .arrow img{width: 50%; display: block;}
.card_list li:hover .arrow{transform: translate(-20px,20px);}

.card_list li .card_title{ color:  var(--main-color); font-size: 32px; margin: 20px 0 15px;}
.card_lst li .card_copy{font-size: 14px; color: #555; line-height: 1.8; text-align: left;}

footer {background-color: #f7f7f7;border-top: 1px solid #ccc;padding: 50px 0;  }
.site_map{}
.site_map dl{float: left; margin-right: 140px;}
.site_map dl:last-child{margin-right: 0;}
.site_map dl:last-child dd{float: left; margin-right: 20px; color:  var(--main-color);
                            font-size: 32px;transition: .3s;}
.site_map dl:last-child dd:hover{color: var(--sub-color);}                           
.site_map dl dt{font-size: 28px; color:  var(--main-color); line-height: 2.5; font-weight: bold;}
.site_map dl dd{line-height: 1.8; color: #555;}


.copyright{margin: 40px auto 0; font-size: 14px; text-align: center; color: #5c5c5c;}
.copyright .btm_logo{float: left; width: 300px;border-right: 1px solid #ccc;}
.copyright .btm_logo img{width: 100%;}
.copyright .copytext{float: right; width: 700px; line-height: 50px;}

#top{position: fixed; width: 50px; height: 50px; border-radius: 5px;
    background-color:  var(--main-color); color: var(--sub-color); text-align: center;
    line-height: 50px; right: 30px; bottom: 50px; font-size: 32px;
}
